/* Componentes */

/* Buscador */

.contenedor-buscador {
  display: flex;
  align-items: center;
  height: 45%;
  max-width: 250px;
  box-shadow: 0 10px 13px #0000002e;
  flex-grow: 1;
}

.contenedor-buscador__input {
  border: 0;
  outline: 0;
  background-color: var(--color-principal);
  width: var(--tamaño-ancho);
  min-width: 80px;
  color: var(--color-blanco);
  height: var(--tamaño-alto);
  padding-left: 10px;
}

.contenedor-buscador__input::placeholder {
  color: var(--color-blanco);
  font-size: var(--tamaño-fuente-pequeña);
}

.contenedor-buscador__lupa-contenedor {
  height: var(--tamaño-alto);
  max-width: 30%;
  min-width: 40px;
  background-color: var(--color-azul);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.lupa-contenedor__imagen-icon {
  width: 20px;
}

/* Modificadores */

.contenedor-buscador--footer {
  flex-grow: 0;
  height: 50px;
  width: 100%;
  max-width: 100%;
  margin-bottom: var(--margen-media);
}

/* Componente Boton */

.link-boton {
  padding: 12px 20px;
  background-color: var(--color-azul);
  border-radius: var(--radio);
}

.link-boton:hover {
  background-color: var(--color-boton-hover);
}

/* Modificadores */

.link-boton--fondo-transparente {
  background-color: transparent;
  border: 1px solid var(--color-blanco);
}

.link-boton--fondo-transparente:hover {
  background-color: var(--color-boton-transparente-hover);
}

.link-boton--fondo-amarillo {
  background-color: var(--color-principal);
}

.link-boton--fondo-amarillo:hover {
  background-color: var(--color-secundario);
}

.link-boton--letra-azul {
  background-color: transparent;
  color: var(--color-azul);
  font-weight: 600;
  font-size: 18px;
  padding: 0;
}

.link-boton--letra-azul:hover {
  background-color: transparent;
}

/* Componente contenedor de informacion */

.info-contenedor {
  width: var(--tamaño-ancho);
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.info-contenedor__titulo {
  font-size: var(--titulo-grande);
  font-weight: 600;
  line-height: 80px;
  margin-bottom: var(--margen-media);
}

.info-contenedor__descripcion {
  font-size: var(--tamaño-fuente-mediano);
  margin-bottom: var(--margen-media);
}

.info-contenedor__links-contenedor {
  display: flex;
  align-items: center;
  gap: var(--gap-pequeño);
}

/* Modificadores*/

.info-contenedor--end {
  align-items: end;
  text-align: end;
}

/* Componente diseño imagen */

.diseño-video-contenedor {
  position: relative;
  max-width: 506px;
  width: var(--tamaño-ancho);
  height: 480px;
  min-height: auto;
  margin: 0 var(--margen-media);
  cursor: pointer;
}

.diseño-video__cuadrado-amarillo {
  position: absolute;
  bottom: -30px;
  left: -30px;
  z-index: 1;
}

.diseño-video {
  position: absolute;
  height: var(--tamaño-alto);
  max-width: 506px;
  width: var(--tamaño-ancho);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: linear-gradient(#daab0076 50%, #daab0076 50%),
    url(../img/perro-about.png);
  z-index: 5;
}

.diseño-video__imagen-complementaria-contenedor {
  position: absolute;
  top: 44%;
  left: 44%;
  z-index: 10;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blanco);
  border-radius: var(--radio-redondo);
}

.diseño-video__imagen-complementaria {
  margin-left: 5px;
  width: 23px;
  height: 23px;
}

/* Clase nueva para dar estilos al decorado invertido */

.diseño-video__cuadrado-amarillo-derecha {
  position: absolute;
  right: -30px;
  bottom: -30px;
}

/* Modificadores */

.diseño-video--imagen-fondo {
  background-image: linear-gradient(#daab0076 50%, #daab0076 50%),
    url(../img/imagen-about-inverso.png);
  min-width: var(--tamaño-ancho);
}

.diseño-video-contenedor--ancho {
  max-width: 530px;
  width: var(--tamaño-ancho);
}

/* Componente Cards */

.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: var(--tamaño-ancho);
  height: auto;
  align-items: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  gap: var(--gap-mediano);
}

.card {
  width: var(--tamaño-ancho);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__img {
  width: var(--tamaño-ancho);
}

.card__info {
  padding: 20px;
  flex-grow: 1;
}

.card__contenedor-titulo {
  display: flex;
  justify-content: center;
  margin: var(--margen-media) 0;
}

.card__titulo {
  font-size: var(--tamaño-fuente-mediano);
  font-weight: 600;
  margin: 0 var(--margen-media);
}

.card__texto {
  font-size: var(--tamaño-fuente-pequeña);
}

/* Modificadores */

.contenedor-cards--gap-menor {
  gap: var(--gap-mediano);
}

.card__img--pequeña {
  max-width: 100px;
  margin-bottom: var(--margen-grande);
  cursor: pointer;
}

.card__contenedor-titulo--margin-pequeño {
  margin: 0;
}

.card__titulo--tachado {
  text-decoration-line: line-through;
}

.card .link-boton--radio {
  margin-top: var(--margen-pequeño);
  width: max-content;
  border-radius: 50px;
}

.card__texto--grande {
  font-size: var(--tamaño-fuente-mediano);
}

.card--alineacion-izq {
  align-items: start;
  justify-content: start;
  text-align: start;
  height: auto;
  max-width: 500px;
  width: var(--tamaño-ancho);
}

.card--alineacion-izq:nth-child(2) {
  box-shadow: 0 0 30px #cecece;
}

.card__texto--color-azul {
  color: var(--color-azul);
  font-weight: 500;
}

.card__texto--margen {
  margin: 15px 0;
}

.card__contenedor-titulo--margin-reset {
  margin: 0;
}

.card__contenedor-titulo--margin-reset .card__titulo {
  margin: 4px 0;
}

.card--alineacion-izq:nth-child(odd) .card__info {
  border: 3px solid #c2bbbb9a;
  border-top: 0;
}

/* Componente Contenedor titulo-descripcion  */

.contenedor-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-pequeño);
}

.contenedor-titulo__titulo {
  font-size: var(--titulo-pequeño);
}

.contenedor-titulo__descripcion {
  font-size: var(--tamaño-fuente-mediano);
  text-align: center;
}

/* Componente lista de iconos redes-sociales */

.lista-iconos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-pequeño);
  max-width: 200px;
  width: var(--tamaño-ancho);
  height: 40px;
  margin-top: var(--margen-media);
}

.lista-iconos__link {
  padding: 7px;
  background-color: var(--color-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radio-redondo);
}

.lista-iconos__icono {
  font-size: var(--tamaño-fuente-mediano);
}

/* Modificadores */

.lista-iconos__link--fondo-blanco {
  background-color: var(--color-blanco);
  color: #444444;
}
