/* Componentes: 
Todos los componentes fueron hechos porque se reutilizan o pueden ser reutilizados en un futuro
*/

/* Buscador:
Componente que es una barra de busqueda la cual se ubica en el header y en el footer.
contiene un input tipo texto y un icono.
*/

.contenedor-buscador {
  display: flex; /* activamos flex-box en el contenedor*/
  align-items: center;/* alineamos los items al centro */
  height: 45%;/* damos un lato de 45%*/
  max-width: 250px;/* damos un alto maximo de 250px */
  box-shadow: 0 10px 13px #0000002e;/* damos una sombra de 0 horizontal, vertical de 10px y un desenfoque de 13px */
  flex-grow: 1;/* ocupa el espacio restante */
}

.contenedor-buscador__input {
  border: 0;/* resetea los estilos del input tipo texto*/
  outline: 0;/* elimina el contorno o el borde del elemento*/
  background-color: var(--color-principal); /* establece el color del fondo del elemento con una varible */
  width: var(--tamaño-ancho);/* da un ancho al elemento con una variable */
  min-width: 80px;/* da una ancho minimo de 80 px*/
  color: var(--color-blanco);/* da un color al texto del elemento con una variable*/
  height: var(--tamaño-alto);/* da un alto al elemento */
  padding-left: 10px;/* da un espacio interno al elemento actual */
}

.contenedor-buscador__input::placeholder {
  color: var(--color-blanco);/* da un color al texto del placeholder del elemento de entrada*/
  font-size: var(--tamaño-fuente-pequeña);/* cambia el tamaño de la fuente del texto */
}

.contenedor-buscador__icono-contenedor {
  height: var(--tamaño-alto); /* da una altura al contenedor*/
  max-width: 30%;/* da un ancho maximo al contenedor*/
  min-width: 40px;/* da un ancho minimo al contenedor*/
  background-color: var(--color-azul);/* da un color de fondo al contenedor */
  display: flex;/* activamos flex-box en este elemento*/
  align-items: center;/* alineamos al centro a los  elementos hijos del contenedor*/
  justify-content: center;/* alinea los elementos hijos dentro del contenedor  */
  transition: 0.5s;/* aplica una transicion al las propiedades del elemento */
}

.contenedor-buscador__icono {
  width: 20px;/* aplica un ancho de 20px al contenedor*/
}

/* Modificadores */

.contenedor-buscador--footer {
  flex-grow: 0;/* resetea esta propiedad */
  height: 50px;/* se define un alto de 50px al contenedor*/
  width: var(--tamaño-ancho);/* se define un ancho con una variable al contenedor */
  max-width: var(--tamaño-ancho);/* se define un ancho maximo al contenedor con una variable */
  margin-bottom: var(--margen-media);/* se define un margen hacia abajo al contenedor con una variable*/
}

/* Componente Boton: 
Boton que esta hecho con un link que se usa en varias partes de la pagina con diferentes estilos
*/

.link-boton {
  padding: 12px 20px;/* le establece relleno al boton 12px arriba y abajo y 20px de izquierda a derecha*/
  background-color: var(--color-azul);/* le coloca un color al fondo del boton con uan variable*/
  border-radius: var(--radio);/* define la curvatura del boton con la variable*/
}

.link-boton:hover {
  background-color: var(--color-boton-hover);/* cambia el color del fondo del boton */
}

/* Modificadores */

.link-boton--fondo-transparente {
  background-color: transparent;/* coloca en fondo del boton trasparente */
  border: 1px solid var(--color-blanco);/* le define un borde al boton de un 1px, grosor de tipo solido y le da el color con una variable*/
}

.link-boton--fondo-transparente:hover {
  background-color: var(--color-boton-transparente-hover);/* le cambia el color del fondo del boton con una variable usando la pseudo clase hover*/
}

.link-boton--fondo-amarillo {
  background-color: var(--color-principal);/* coloca el fondo del boton con una variable*/
}

.link-boton--fondo-amarillo:hover {
  background-color: var(--color-secundario);/* le cambia el color del fondo del boton con una variable usando la pseudo clase hover*/
}

.link-boton--letra-azul {
  background-color: transparent;/* coloca en fondo del boton trasparente */
  color: var(--color-azul);/* cambia el color del texto del boton con una variable*/
  font-weight: 600;/* define el grosor o el peseo del texto del boton en 600 */
  font-size: 18px;/* define el tamaño del texto del boton a 18px*/
  padding: 0;/* se define el relleno del boton en 0 osea que no habra espacio adicional*/
}

.link-boton--letra-azul:hover {
  background-color: transparent;/* le cambia el color del fondo del boton con una variable usando la pseudo clase hover*/
}

/* Componente contenedor de informacion: 
Se usa en los about, contienen un titulo, descripcion y un boton
*/

.info-contenedor {
  width: var(--tamaño-ancho);/* se define un ancho al contenedor de la informacion */
  max-width: 900px;/* se le define un ancho maximo al contenedor de la informacion de 900px*/
  display: flex;/* activamos flex-box en el contenedor*/
  flex-direction: column;/* cambiamos el flujo de los elementos hijos en en columnas*/
}

.info-contenedor__titulo {
  font-size: var(--titulo-grande);/* define el tamaño del texto del titulo con una variable*/
  font-weight: 600;/* define el grosor o el peseo del texto del titulo en 600 */
  line-height: 80px;/* ajusta la altura de las lineas de texto del titulo*/
  margin-bottom: var(--margen-media);/* se define un margen hacia abajo al contenedor del titulo*/
}

.info-contenedor__descripcion {
  font-size: var(--tamaño-fuente-mediano);/* define el tamaño de letra del texto del contenedor de la informacion de la descripcion*/
  margin-bottom: var(--margen-media);/* se define un margen hacia abajo al contenedor de la informacion de la descripcion*/
}

.info-contenedor__links-contenedor {
  display: flex;/* activamos flex-box en el contenedor*/
  align-items: center;/* alineamos los items hijos de contenedor hacia el centro*/
  gap: var(--gap-pequeño);/* definimos los espacion entre los elemnetos hijos dentro del contenedor*/
}

/* Modificadores*/

.info-contenedor--end {
  align-items: end;/* se alinean los items al final del contenedor*/
  text-align: end;/* se alinea el texto al final del contenedor*/
}

/* Componente diseño imagen: 
tiene un diseño de una imagen con decoraciones y se reutuliza en varias partes  de la pagina
contiene imagenes que son las decoraciones y tiene un contenedor con un fondo de imagen
*/

.diseño-video {
  position: relative;/* se define el contenedor en posicion relativa para ubicar los elementos hijos con posicion absoluta*/
  max-width: 506px;/* definimos un ancho maximo del contenedor del video de 506 pixeles*/
  width: var(--tamaño-ancho);/* definimos un alto al contenedor con una variable */
  height: 480px;/* definimos un acho de 480px al contenedor*/
  min-height: auto;/* definomos un alto minimo automatico osea se adapta al tamaño del contenido*/
  margin: 0 var(--margen-media);/* aplicamos margenes arriba y abajo del contenedor de 0 por lo tanto no habra margenes*/
  cursor: pointer;/* cambia el cursor a un puntero cuando pasa por encima de este*/
}

.diseño-video__cuadrado-amarillo {
  position: absolute;/* se define posicion absoluta para ubicarlo con respecto al bloque padre que tiene posicion relativa*/
  bottom: -30px;/* el elemento se sale 30px hacia abajo*/
  left: -30px;/* el elemento se sale 30px hacia la izquierda*/
  z-index: 1;/* definimos para que se ubique en el orden deseado*/
}

.diseño-video__fondo {
  position: absolute;/* se define posicion absoluta para ubicarlo con respecto al bloque padre que tiene posicion relativa*/
  height: var(--tamaño-alto);/* definimos un alto al  elemento con una variable*/
  max-width: 506px;/*  definimos un ancho maximo al elemento de 506 pixeles*/
  width: var(--tamaño-ancho);/* definimos un alto al elemento con una variable */
  background-size: cover;/* se define para que cubra todo el contenedor*/
  background-repeat: no-repeat;/* se define para que la imagen no se repita*/
  background-position-x: center;/* en el eje x posiciona el fondo en el centro*/
  background-image: linear-gradient(#daab0076 50%, #daab0076 50%),
    url(../img/perro-about.png);/* el primer valor que es el color se aplicara sobre el segundo que es la imagen*/
  z-index: 5;/* definimos para que se ubique en el orden deseado*/
}

.diseño-video__imagen-complementaria-contenedor {
  position: absolute;/* se define posicion absoluta para ubicarlo con respecto al elemento padre que tiene posicion relativa*/
  top: 44%;/* Mueve el elemento hacia abajo hasta el 44% de la altura del contenedor esto lo coloca en el centro del contenedor*/
  left: 44%;/*Mueve el elemento hacia la derecha hasta el 44% del ancho del contenedor */
  z-index: 10;/* definimos para que se ubique en el orden deseado*/
  width: 70px;/* se define una ancho al elemento de 70px*/
  height: 70px;/* se define una alto al elemento de 70px*/
  display: flex;/* activamos flex-box en este elemento*/
  align-items: center;/* alineamos al centro a los  elementos del elemento actual*/
  justify-content: center;/* centra horizontalmente los elementos hijos dentro del contenedor.*/
  background-color: var(--color-blanco);/* le coloca un color de fondo al elemento con una variable*/
  border-radius: var(--radio-redondo);/* define un borde redondeado al contenedor*/
}
/* papa */