.footer {
  background-color: var(--color-fondo-footer);
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-blanco);
  padding: 30px 4%;
}

.footer__links-contenedor {
  display: flex;
  width: var(--tamaño-ancho);
  justify-content: space-around;
}

.lista-contenedor__titulo {
  font-size: var(--tamaño-fuente-mediano);
  margin-bottom: var(--margen-pequeño);
}

.lista-contenedor__item {
  margin-top: var(--margen-pequeño);
}

.redes-contenedor {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: var(--tamaño-ancho);
  max-width: 400px;
}

.redes-contenedor__titulo {
  font-size: var(--tamaño-fuente-mediano);
}

.redes-contenedor__texto {
  margin-bottom: var(--margen-media);
  text-align: end;
}
