.veterinaria__footer {
  background-color: #353535;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  gap: 10px;
  padding: 30px 4%;
}

.footer__links-contenedor {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.lista-contenedor__titulo {
  font-size: 22px;
  margin-bottom: 10px;
}

.lista-contenedor__item {
  margin: 5px 0;
}

.footer__redes-contenedor {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  max-width: 400px;
}

.redes-contenedor__titulo {
  font-size: 22px;
}

.redes-contenedor__texto {
  margin-bottom: 25px;
  text-align: end;
}
