:root {
  --color-principal: #fcc302;
  --color-secundario: #daac00;
  --color-azul: #00bec9;
  --color-boton-hover: #00a1aa;
  --color-boton-transparente-hover: rgb(203, 168, 39);

  --color-fondo-footer: #353535;

  --color-secundario-transparente: rgba(218, 172, 0, 0.9);
  --color-menu-transparente: rgba(90, 83, 58, 0.9);

  --color-blanco: #fff;
  --color-negro: #000;
  --tamaño-ancho: 100%;
  --tamaño-alto: 100%;

  --radio: 10px;
  --radio-redondo: 50%;

  --fondo-blanco: #fff;

  --titulo-grande: 70px;
  --titulo-pequeño: 50px;

  --tamaño-fuente-mediano: 25px;
  --tamaño-fuente-pequeña: 17px;

  --margen-media: 20px;
  --margen-pequeño: 10px;
  --margen-grande: 30px;

  --gap-mediano: 40px;
  --gap-pequeño: 20px;
}

.diseño-video__imagen-complementaria {
  margin-left: 5px;
  width: 23px;
  height: 23px;
}

/* Clase nueva para dar estilos al decorado invertido */

.diseño-video__cuadrado-amarillo-derecha {
  position: absolute;
  right: -30px;
  bottom: -30px;
}

/* Modificadores */

.diseño-video--imagen {
  background-image: linear-gradient(#daab0076 50%, #daab0076 50%),
    url(../img/imagen-about-inverso.png);
  min-width: var(--tamaño-ancho);
}

.diseño-video--ancho {
  max-width: 530px;
  width: var(--tamaño-ancho);
}

/* Componente Cards */

.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: var(--tamaño-ancho);
  height: auto;
  align-items: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  gap: var(--gap-mediano);
}

.card {
  width: var(--tamaño-ancho);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__img {
  width: var(--tamaño-ancho);
}

.card__info {
  padding: 20px;
  flex-grow: 1;
}

.card__contenedor-titulo {
  display: flex;
  justify-content: center;
  margin: var(--margen-media) 0;
}

.card__titulo {
  font-size: var(--tamaño-fuente-mediano);
  font-weight: 600;
  margin: 0 var(--margen-media);
}

.card__texto {
  font-size: var(--tamaño-fuente-pequeña);
}

/* Modificadores */

.contenedor-cards--gap-menor {
  gap: var(--gap-mediano);
}

.card__img--pequeña {
  max-width: 100px;
  margin-bottom: var(--margen-grande);
  cursor: pointer;
}

.card__contenedor-titulo--margin-pequeño {
  margin: 0;
}

.card__titulo--tachado {
  text-decoration-line: line-through;
}

.card .link-boton--radio {
  margin-top: var(--margen-pequeño);
  width: max-content;
  border-radius: 50px;
}

.card__texto--grande {
  font-size: var(--tamaño-fuente-mediano);
}

.card--alineacion-izq {
  align-items: start;
  justify-content: start;
  text-align: start;
  height: auto;
  max-width: 500px;
  width: var(--tamaño-ancho);
}

.card--alineacion-izq:nth-child(2) {
  box-shadow: 0 0 30px #cecece;
}

.card__texto--color-azul {
  color: var(--color-azul);
  font-weight: 500;
}

.card__texto--margen {
  margin: 15px 0;
}

.card__contenedor-titulo--margin-reset {
  margin: 0;
}

.card__contenedor-titulo--margin-reset .card__titulo {
  margin: 4px 0;
}

.card--alineacion-izq:nth-child(odd) .card__info {
  border: 3px solid #c2bbbb9a;
  border-top: 0;
}

/* Componente Contenedor titulo-descripcion  */

.contenedor-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-pequeño);
}

.contenedor-titulo__titulo {
  font-size: var(--titulo-pequeño);
}

.contenedor-titulo__descripcion {
  font-size: var(--tamaño-fuente-mediano);
  text-align: center;
}

/* Componente lista de iconos redes-sociales */

.lista-iconos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-pequeño);
  max-width: 200px;
  width: var(--tamaño-ancho);
  height: 40px;
  margin-top: var(--margen-media);
}

.lista-iconos__link {
  padding: 7px;
  background-color: var(--color-principal);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radio-redondo);
}

.lista-iconos__icono {
  font-size: var(--tamaño-fuente-mediano);
}

/* Modificadores */

.lista-iconos__link--fondo-blanco {
  background-color: var(--color-blanco);
  color: #444444;
}
